/* Default css page for entire app */
body {
  background-color: #F7F4E3;
  font-size: 20px;
}

h1,
h2,
.btn-primary,
.btn-outline-secondary {
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-size: 40px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.btn-primary,
.btn-outline-secondary {
  border-width: 4px;
  border-radius: 8px;
  font-size: 30px;
  padding: 10px 20px;
}

.btn-primary,
.btn-primary:hover {
  border-color: transparent;
  color: #212529;
}

.btn-primary {
  background-color: #FED136;
}

.btn-primary:hover {
  background-color: #FEC503;
}

.btn-primary:focus {
  --bs-btn-focus-color: #212529;
  --bs-btn-focus-bg: #FEC503;
  --bs-btn-focus-border-color: #FEC503;
}

.btn-primary:active {
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #FEC503;
  --bs-btn-active-border-color: #FEC503;
}

.btn-outline-secondary {
  background-color: transparent;
  border-color: #FED136;
  color: #FED136;
}

.btn-outline-secondary:hover {
  background-color: #212529;
  color: #FEC503;
  border-color: #212529;
}

.btn-outline-secondary:focus {
  --bs-btn-focus-color: #FEC503;
  --bs-btn-focus-bg: #212529;
  --bs-btn-focus-border-color: #212529;
}

.btn-outline-secondary:active {
  --bs-btn-active-color: #FEC503;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
}