/* Default css page for entire app */
body {
  background-color: #F7F4E3;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
.btn-primary,
.btn-outline-secondary,
.btn-link {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 35px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.page-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.page-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.page-description {
  margin: 0 1.5rem;
}


.btn-primary,
.btn-outline-secondary {
  border-width: 4px;
  border-radius: 8px;
  font-size: 30px;
  padding: 10px 20px;
}

.btn-primary,
.btn-primary:hover {
  border-color: transparent;
  color: #212529;
}

.btn-primary {
  background-color: #FED136;
}

.btn-primary:hover {
  background-color: #FEC503;
}

.btn-primary:focus {
  --bs-btn-focus-color: #212529;
  --bs-btn-focus-bg: #FEC503;
  --bs-btn-focus-border-color: #FEC503;
}

.btn-primary:active {
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #FEC503;
  --bs-btn-active-border-color: #FEC503;
}

.btn-outline-secondary {
  background-color: transparent;
  border-color: #F7F4E3;
  color: #F7F4E3;
}

.btn-outline-secondary:hover {
  background-color: #E7732B;
  color: #F7F4E3;
  border-color: #E7732B;
}

.btn-outline-secondary:focus {
  --bs-btn-focus-color: #F7F4E3;
  --bs-btn-focus-bg: #E7732B;
  --bs-btn-focus-border-color: #E7732B;
}

.btn-outline-secondary:active {
  --bs-btn-active-color: #F7F4E3;
  --bs-btn-active-bg: #E7732B;
  --bs-btn-active-border-color: #E7732B;
}

.btn-link {
  color: #212529;
  font-size: 30px;
  text-decoration: none
}

.white-btn-link:hover,
.fa-solid .fa-arrow-right-long:hover {
  --bs-btn-hover-color: white;
}

.white-btn-link:active,
.fa-solid .fa-arrow-right-long:active {
  --bs-btn-active-color: white;
}

.white-btn-link:focus,
.fa-solid .fa-arrow-right-long:focus {
  --bs-btn-focus-color: white;
}

.red-btn-link:hover,
.fa-solid .fa-arrow-right-long:hover {
  --bs-btn-hover-color: #BD2329;
}

.red-btn-link:active,
.fa-solid .fa-arrow-right-long:active {
  --bs-btn-active-color: #BD2329;
}

.red-btn-link:focus,
.fa-solid .fa-arrow-right-long:focus {
  --bs-btn-focus-color: #BD2329;
}