h1,
.lead,
.event-date {
    color: white;
}

.hero-container {
    padding: 50px 20px;
}

.hero-banner {
    position: relative;
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/banners/hero-bg.jpeg");
    background-size: cover;
    width: 100vw;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-repeat: none;
    background-attachment: scroll;
}

.intro-text {
    font-size: 64px;
}

.lead {
    font-size: 24px;
    font-weight: 500;
}

.event-date {
    font-family: 'Mansalva', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 2rem;
}

#food-gallery .container-fluid {
    padding: 0;
    overflow: hidden;
}


#food-gallery img {
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#food-gallery .col-lg-4 {
    width: 33.33%;
    padding-right: 0;
    padding-left: 0;
}

.food-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.food-img {
    position: relative;
    width: 50%;
}

.food-img:hover .food-overlay {
    opacity: 1;
}

.food-overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

@media (max-width: 767px) {
    #food-gallery .row>div:not(:first-child) {
        display: none;
    }

    #food-gallery .row>div:first-child {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #food-gallery .row>div:nth-child(3) {
        display: none;
    }

    #food-gallery .row>div:first-child,
    #food-gallery .row>div:nth-child(2) {
        width: 50%;
    }
}

#spotlight {
    background-color: #F1BC32;
    font-size: 1.2em;
    padding: 50px 1.5rem;
}

.spotlight-container {
    margin: 30px auto;
}

.spotlight-text {
    padding: 0;
}

.spotlight-text,
.passport-text {
    position: relative;
}

.spotlight-text::after,
.passport-text::after {
    content: "";
    width: 60px;
    height: 3px;
}

.spotlight-text::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #F7F4E3;
}

.btn-link {
    margin-bottom: 50px;
}

.home-btn-link {
    padding-left: 0;
}

.spotlight-img-container,
.passport-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotlight-img,
.passport-img {
    width: 100%;
    height: auto;
}

.passport-img {
    border: 10px solid white;
}

.passport-container {
    margin: 100px auto;
}

.passport-text {
    padding: 25px 24px;
}

.passport-text::after {
    display: block;
    background-color: #5E5B4B;
    margin-top: -10px;
}

#promo-vid {
    /* background-color: #E7732B; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    #promo-vid {
        height: 80vh;
        padding-top: 300px;
        padding-bottom: 300px;
    }
}

.vid-container {
    width: 100%;
    max-width: 1000px;
}

.vid-container h2 {
    text-align: center;
    padding-bottom: 10px;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.socials-container {
    margin: 70px auto;
    padding: 0 1.5rem;
}

.socials-text {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.waves-deco {
    width: 150px;
}

.hyperlink,
.hyperlink:hover {
    color: #BD2329;
}

.hyperlink {
    font-weight: 600;
    text-decoration: none;
}

.hyperlink:hover {
    text-decoration: underline;
}

.insta-post {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 10px solid white;
}

.col-lg-4:hover .insta-post {
    opacity: 0.8;
}

.mid-post {
    margin: 20px 0;
}

@media (min-width: 768px) {
    .hero-banner {
        height: 100vh;
    }

    .btn-block {
        width: 100%;
    }

    .spotlight-container {
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .spotlight-img {
        width: 90%;
        height: auto;
    }

    .socials-container {
        margin: 100px auto;
    }

    .socials-text {
        margin-bottom: 20px;
    }
}