.navbar {
    padding: 10px 0;
}

.nav-color {
    background-color: #EFE9C7;
}

.navbar-brand,
.navbar-brand:hover {
    color: #BD2329;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

.navbar-brand img {
    height: 45px;
    width: 45px;
    margin: 0 0.2em;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 500;
    /* color: #76725E; */
    color: #5E5B4B;
}

.nav-link:hover {
    /* color: #5E5B4B; */
    color: #76725E;
}

.nav-link:active {
    color: #BD2329;
}

.navbar-toggler {
    border-color: transparent;
    border-radius: 4px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.nav-fa-solid {
    padding: 5px 0;
    /* color: #76725E; */
    color: #5E5B4B;
}

.nav-fa-solid:hover {
    /* color: #5E5B4B; */
    color: #76725E;
}

@media (min-width: 768px) {
    .container-fluid {
        padding: 0 100px;
    }
}