.passport-banner {
    background-image: url('../img/banners/passport-banner.jpg');
}

#passport-overview .overview-text {
    position: relative;
}

#passport-overview .overview-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#passport-overview .overview-img {
    width: 100%;
    height: auto;
}

#passport-overview .overview-container {
    margin: 50px auto;
}

#passport-overview .overview-text {
    padding: 25px 24px;
}

/* How It Works */
#passport-explanation {
    background-image: url('../img/restaurants/food/emeraldcity.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 64px;
}

.exp-img-container {
    display: flex;
    justify-content: center;
}

.exp-img-container img {
    width: 125px;
}

.explanation-subpoint {
    font-weight: 500;
    font-size: 20px;
    padding-left: 50px;
}

#giveaways {
    font-size: 1.2em;
    padding: 64px;
}

#passport-portal {
    background-color: #F1BC32;
    font-size: 1.2em;
    padding: 64px;
}

#passport-info {
    color: white;
    font-size: 1em;
}

#portal-visualizer {
    background-image: url('../img/banners/portal-banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.card-component {
    color: white;
    background-color: #03264d;
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.user-input-component {
    text-align: center;
}

@media (min-width: 768px) {
    .hero-banner {
        height: 100vh;
    }

    .btn-block {
        width: 100%;
    }
}