.passport-banner {
    background-image: url('../img/banners/passport-banner.jpg');
}

.dashes {
    width: 30%;
}

#passport-overview .dashes {
    padding-bottom: 20px;
}

#passport-overview .overview-text {
    position: relative;
}

#passport-overview i {
    font-weight: 600;
}

#passport-overview .overview-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#passport-overview .overview-img {
    width: 100%;
    height: auto;
}

#passport-overview .overview-container {
    margin: 50px auto;
}

#passport-overview .overview-text {
    padding: 25px 24px;
}

/* How It Works */
.card-component {
    color: white;
    background-color: #03264d;
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

#passport-explanation {
    background-image: url('../img/restaurants/food/emeraldcity.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 64px;
}

.exp-img-container {
    display: flex;
    justify-content: center;
}

.exp-img-container img {
    width: 125px;
}

.explanation-subpoint {
    font-weight: 500;
    font-size: 20px;
}

/* Digiitize Portal */
#passport-portal {
    background-color: #E7732B;
    font-size: 1.2em;
    padding: 40px;
    text-align: center;
    color: #F7F4E3;
}

.portal-container {
    display: flex;
    align-items: center;
}

.align-items-stretch {
    display: flex;
    align-items: stretch;
}

.peas-container {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-items-stretch img {
    max-height: 325px;
}

.portal-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.peas-container,
.portal-text {
    display: flex;
    align-items: center;
}

.portal-text h2,
.portal-text button {
    display: inline-block;
}

.portal-text button {
    margin-bottom: 10px;
}

.portal-text p {
    text-align: left;
}

.portal-text::after {
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: #F7F4E3;
}

#passport-info {
    color: white;
    font-size: 1em;
}

#portal-visualizer {
    background-image: url('../img/banners/portal-banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.card-component {
    color: white;
    background-color: #03264d;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.user-input-component {
    text-align: center;
}

/* Giveaways */
#passport-overview .overview-img,
.grand-prize-img {
    border: 10px solid white;
}

.giveaway-text {
    padding-left: 0;
}

.dashes-container {
    text-align: right;
}

#giveaways li {
    list-style: none;
    font-weight: 600;
    padding-top: 10px;
}