.press-banner {
    background-image: url('../img/banners/press-banner.jpg');
}

.press-container {
    padding-left: 20px;
    margin: 50px auto;
    /* Additional right padding within the container */
  }
  
  .press-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .year-group {
    margin-left: 20px;
    margin-bottom: 40px;
  }
  
  .year-group a {
    color: #B32317;
  }
  .year-group li {
      margin-left: 5px;
      margin-bottom: 5px;
  }

  ul {
      margin-left: -36px;
      list-style-type: disc;
      color: black;
      font-weight: bold;
  }
  iframe {
        width: 400px;
        height: 250px;
        margin-bottom: 5px;

  }
  .utube {
      list-style-type: none;
  }
  