.press-banner {
    background-image: url('../img/banners/press-banner.jpg');
}

.press-banner::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.press-container {
    padding-left: 20px;
    padding-right:20px;
    margin: 50px auto;
    /* Additional right padding within the container */
  }
  
  .press-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .year-group {
    margin-left: 20px;
    margin-bottom: 40px;
  }
  
  .year-group a {
    color: #212529;
  }
  .year-group li {
      margin-left: 5px;
      margin-bottom: 5px;
  }

  ul {
      margin-left: -36px;
      list-style: none;
      color: black;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
  }

  i {
    padding-right:5px;
  }

  iframe {
        width: 400px;
        height: 250px;
        margin-bottom: 5px;

  }
  .utube {
      list-style-type: none;
      display:inline-block;
  }
  .press-link:hover {
    color: #BD2329;
  }

@media (min-width: 768px) and (max-width: 991px) {
    .press-container {
        margin: 60px 100px;
        padding-left: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .press-container {
        margin: 80px 150px;
        padding-left: 20px;
    }
}

@media (min-width: 1200px) {
    .press-container {
        margin: 100px 300px;
        padding-left: 20px;
    }
}