.press-banner {
    background-image: url('../img/banners/press-banner.jpg');
}

.press-container {
    padding-left: 20px;
    margin: 50px auto;
    /* Additional right padding within the container */
  }
  
  .press-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .year-group {
    margin-left: 20px;
    margin-bottom: 40px;
  }
  
  .year-group a {
    color: #B32317;
  }
  .year-group li {
      margin-left: 5px;
      margin-bottom: 5px;
  }

  ul {
      margin-left: -36px;
      list-style-type: disc;
      color: black;
      font-weight: bold;
  }
  iframe {
        width: 400px;
        height: 250px;
        margin-bottom: 5px;

  }
  .utube {
      list-style-type: none;
      display:inline-block;
  }

@media (min-width: 768px) and (max-width: 991px) {
    .press-container {
        margin: 60px 100px;
        padding-left: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .press-container {
        margin: 80px 150px;
        padding-left: 20px;
    }
}

@media (min-width: 1200px) {
    .press-container {
        margin: 100px 300px;
        padding-left: 20px;
    }
}