.restaurant-card {
    border-radius: 0px;
    border-width: 15px;
    border-color: white;
    background-color: white;
}

.card-img {
    /* border-radius: 4px 4px 0 0; */
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-name {
    margin-bottom: 20px;
}

.logo-img {
    height: 40px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-title {
    margin-bottom: 0;
}

/* .badge {
    margin-bottom: 14px;

}

.badge-outline {
    border: 2px solid #212529;
}

.text-bg-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent !important;
    color: #212529 !important;
    padding: 8px 12px;
} */

.card-btn {
    margin-top: 20px;
    font-size: 24px;
    /* background-color: #E7732B;
    border-color: #E7732B;
    color: #F7F4E3; */
}

/* @media (min-width: 768px) {
    .card-img {
        border-radius: 4px 0 0 4px;
    }
} */