/* banner */


/* special menus section */
.menu {
    background-color: #B4352E;
    padding: 10px 0px;
    text-align:center;
}

.menu li {
    text-align: center;
}

.menu-one img, .menu-two img {
    width:100%;
    height:auto;
}


/* vendor about section */

.vendor-info-container {
    background-image: url(../img/restaurants/outside/bananasgrill-overlay.png);
    color:white;
    padding: 30px;
    margin: auto 0px;
}

.vendor-info-container h4 {
    margin-top:30px; 
}

.contact-link {
    color: #F2C94C;
    text-decoration: none
}

.contact-link:hover {
    color:orange; 
}

/* vendor spotlight section */

.owner-container {
    background-color: #F1BC32;
    padding: 30px;
    margin: auto 0px;
}

.owner-container img {
    padding: 30px;
}

/* @media (min-width: 768px) and (max-width: 991px) {
    
} */

@media (min-width: 992px) and (max-width: 1199px) {

    .owner-container img {
        padding: 80px;
    }

}

/* @media (min-width: 1200px) {
    .menu-one img, .menu-two img {
        width: 100%;
        max-height: auto;
        text-align: center;
    }
    .menu-one, .menu-two {
        display: inline-block;
        text-align: center;
    }
} */
