.restaurant-header {
    background-image: url('../img/restaurant-banner.png');
    padding-top:150px;
    padding-bottom: 35px;
    margin-bottom:20px;

}

.restaurant-header p {
    font-size: 18px;
    color:white;
}

.btn-link {
    margin-bottom: 30px;
}