.restaurants-banner {
    background-image: url('../img/banners/restaurant-banner.jpg');
}

.restaurant-header p {
    font-size: 18px;
    color:white;
}

.btn-link {
    margin-bottom: 30px;
}

.mobile-menu-icon {
    color: black; 
    fill: black; 
    justify-content: flex-end;
    display: flex;
    font-size: 55px;
 } 