.search-bar {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    width: 700px;
    margin: 20px auto;
    display: block;
    text-align: left;
  }